footer {
    background-color: #F2F7FA;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-top_container {
    border-bottom: 1px solid #16223014;
    padding: 0 var(--def-padding);
}

.footer-help-container-1 {
    display: flex;
    gap: 20px;
    padding: 60px 0 48px;
    justify-content: space-between;
}

.footer-logo {
    img {
        width: auto;
        object-fit: contain;
        object-position: center;
        aspect-ratio: 213/100;
        width: 100%;
        max-width: 213px;
        min-width: 213px;
    }
}

.footer-menu {
    display: grid;
    justify-content: space-between;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}

.footer-menu_cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 188px;

    .h3 {
        font-weight: 600;
        font-style: SemiBold;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 150%;
        letter-spacing: 0%;
        color: #50576B;

        &.active {
            color: var(--link-color);
        }

        &:hover {
            color: var(--link-color);
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: fit-content;

        li {
            height: fit-content;
            display: flex;
            flex-direction: column;

            a {
                font-weight: 400;
                font-style: Regular;
                font-size: 14px;
                leading-trim: NONE;
                line-height: 150%;
                letter-spacing: 0%;
                color: #50576B;

                &:hover {
                    color: var(--link-color);
                }
            }

            &.active {
                a {
                    color: var(--link-color);
                }
            }

        }
    }
}

.footer-right_cont {
    width: 100%;
    max-width: 319px;
    display: flex;
    flex-direction: column;
    height: fit-content;

    .h3 {
        margin-bottom: 20px;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 150%;
        letter-spacing: 0%;
        color: #50576B;

        &:hover {
            color: var(--link-color);
        }

        &.active {
            color: var(--link-color);
        }
    }

    svg {
        display: block;
        max-width: 24px;
        max-height: 24px;
        min-height: 24px;
        min-width: 24px;
        margin-left: 10px;
    }

    .header-phone,
    .header-adres,
    .header-email {
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: start;
        color: var(--text-color);
        background: none !important;
        -webkit-background-clip: unset !important;
        -webkit-text-fill-color: unset !important;
        background-clip: unset !important;
        color: var(--text-color) !important;
        display: flex;
        align-items: center;
        gap: 18px;
        padding: 8px 0;
    }

    .header-phone {
        &:hover {
            color: var(--link-color) !important;
        }
    }
}

.more-height {
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translateY(-50%) translateX(0%);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 25px;
    max-height: 25px;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background-color: #FFF;
    border: 1px solid var(--text-color);
    transition: .5s;
    cursor: pointer;
}

.more-height path {
    transition: .5s;
}

.more-height:hover {
    transition: .5s;
    border: 1px solid var(--text-color);
    background-color: var(--text-color);
}

.more-height:hover path {
    fill: #FFF;
}

.overflow-hidden-bottom {
    max-height: 129px;
    transition: .5s;
    overflow: hidden;
    position: relative;
}

.footer-check-height-cont .more-height {
    opacity: 0;
    visibility: hidden;
}

.footer-menu_cont {
    position: relative;
    height: fit-content;
}

.footer-menu_cont:hover .more-height {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%) translateX(0%);
}

.footer-check-height-cont:hover .more-height.opened {
    transform: translateY(0%) translateX(0%) rotate(180deg);
}

.more-height.opened {
    transform: translateY(0%) translateX(0%) rotate(180deg);
}

.overflow-hidden-bottom.opened {
    max-height: 3000px;
}

.footer-check-height-cont {
    position: relative;
}

.footer-help-container-2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 0;
    flex-wrap: wrap;

    * {
        color: #737D8C
    }

    .link {
        width: 100%;
        max-width: 317px;
    }

    .text,
    .link {
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        leading-trim: NONE;
        line-height: 150%;
        letter-spacing: 0%;
    }
}

@media (max-width: 1280px) {
    .overflow-hidden-bottom {
        max-height: fit-content;
    }

    .footer-check-height-cont .more-height {
        display: none;
    }
}

@media (max-width: 970px) {
    .footer-help-container-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .footer-check-height-cont {
        grid-column: 1/3;
        grid-row: 2/3;
    }
}

@media (max-width: 720px) {
    .footer-help-container-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-check-height-cont {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .footer-right_cont {
        grid-column: 1/2;
        grid-row: 3/4;
    }
}

@media (max-width: 500px) {
    .footer-help-container-1 {
        padding: 30px 0;
        gap: 0;
    }

    .footer-logo img {
        max-width: 187px;
        min-width: 187px;
    }

    .footer-logo {
        padding-bottom: 30px;
        border-bottom: 1px solid #CADCE8;
    }

    .footer-check-height-cont {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 30px 0;
        border-bottom: 1px solid #CADCE8;

        .h3 {
            font-size: 18px;
        }

        ul {

            li {
                a {
                    font-size: 16px;
                }
            }
        }
    }

    .footer-menu_cont {
        max-width: 100%;
    }

    .footer-right_cont {
        max-width: 100%;
        padding: 30px 0 0;
    }

    .footer-help-container-2 {
        padding: 30px 0;
    }
}