header {
	background-color: #FFF;
	transition: .5s;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	border-bottom: 1px solid #E5E5E5;
}

header.fixed {
	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	border-radius: 0 0 8px 8px;
}

.header-hidden-container {
	display: none;
}

header.fixed.open {
	border-radius: 0;
}

.header-container {

	.def_div {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		align-items: center;
		padding: 20px 0 30px;
	}
}

.header-logo-img {
	min-width: 128px;
	max-width: 128px;
	min-height: 60px;
	max-height: 60px;
	object-fit: contain;
	object-position: center;
}


@media (min-width: 1161px) {
	#menu-wrapper {
		display: none;
	}


	.header-menu {
		display: flex;
		gap: 30px;

		.no-drop_1 {

			a {
				font-weight: 400;
				font-style: Regular;
				font-size: 16px;
				leading-trim: NONE;
				line-height: 150%;
				letter-spacing: 0%;
			}

			&.active {

				a {
					color: var(--link-color);
				}
			}
		}
	}

	.header-cont-contacts {
		display: flex;
		flex-direction: column;
		gap: 8px;

		.header-adres,
		.header-email svg,
		.header-phone svg {
			display: none;
		}
	}

	.header-email {
		font-weight: 500;
		font-style: Medium;
		font-size: 16px;
		leading-trim: NONE;
		line-height: 140%;
		letter-spacing: 0%;
		background: linear-gradient(252.62deg, #03B0B6 13.71%, #B9DE35 138.66%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		-webkit-text-fill-color: transparent;
		text-align: end;
	}

	.header-phone {
		font-weight: 500;
		font-style: Medium;
		font-size: 20px;
		leading-trim: NONE;
		line-height: 140%;
		letter-spacing: 0%;
	}
}

@media (max-width: 1160px) {
	.header-container {
		.header-menu {
			display: none;
		}

		.header-cont-contacts {
			display: none;
		}
	}

	header {
		border-bottom: 1px solid #E5E5E5;

		* {
			transition: .5s;
		}

		.header-container .def_div {
			padding: 8px 0 16px;
		}

		.header-logo-img {
			min-width: 107px;
			max-width: 107px;
			min-height: 50px;
			max-height: 50px;
			object-fit: contain;
			object-position: center;
		}
	}

	header.open {
		.header-hidden-container {
			transform: translateX(0);
			opacity: 1;
			visibility: visible;
		}

		.header-container .def_div {
			padding: 16px 0;
		}

		.header-logo-img {
			opacity: 0;
			visibility: hidden;
			min-width: 0px;
			max-width: 0px;
			min-height: 0px;
			max-height: 0px;
		}
	}

	.header-hidden-container {
		display: block;
		position: absolute;
		top: 100%;
		background-color: #FFF;
		display: flex;
		flex-direction: column;
		height: 100vh;
		min-height: 100vh;
		max-height: 100vh;
		overflow: hidden;
		overflow-y: auto;
		padding-bottom: 56px;
		width: 100%;
		max-width: 450px;
		transition: .5s;
		transform: translateX(-101%);
		opacity: 0;
		visibility: hidden;
		z-index: 9;

		.header-menu {
			.no-drop_1 {

				a {
					font-weight: 400;
					font-style: Regular;
					font-size: 16px;
					leading-trim: NONE;
					line-height: 150%;
					letter-spacing: 0%;
					padding: 18px 16px;
					display: block;
					border-bottom: 1px solid #E5E5E5;
				}

				&.active {

					a {
						color: var(--link-color);
					}
				}
			}
		}

		.header-cont-contacts {
			margin-top: auto;
			padding: 24px 16px;
			background-color: #F2F7FA;

			.header-adres,
			.header-email,
			.header-phone {
				display: flex;
				align-items: center;
				gap: 22px;
				font-weight: 500;
				font-style: Medium;
				font-size: 16px;
				leading-trim: NONE;
				line-height: 150%;
				letter-spacing: 0%;
				padding: 8px 0;

				svg {
					min-width: 24px;
					max-width: 24px;
					min-height: 24px;
					max-height: 24px;
				}
			}
		}
	}

	#menu-wrapper {
		height: fit-content;
		width: fit-content;

	}

	#hamburger-menu {
		position: relative;
		width: 24px;
		height: 24px;
		cursor: pointer;
	}

	#hamburger-menu span {
		opacity: 1;
		left: 0;
		display: block;
		width: 100%;
		height: 1.5px;
		border-radius: 10px;
		color: black;
		background: linear-gradient(261.08deg, #03B0B6 18.88%, #B9DE35 127.89%);
		position: absolute;
		transform: rotate(0deg);
		transition: .4s ease-in-out;
	}

	#hamburger-menu span:nth-child(1) {
		top: 0;
	}

	#hamburger-menu span:nth-child(2) {
		top: 9px;
	}

	#hamburger-menu span:nth-child(3) {
		top: 18px;
	}

	#hamburger-menu.open span:nth-child(1) {
		transform: translateY(9px) rotate(135deg);
	}

	#hamburger-menu.open span:nth-child(2) {
		opacity: 0;
		transform: translateX(-60px);
	}

	#hamburger-menu.open span:nth-child(3) {
		transform: translateY(-9px) rotate(-135deg);
	}
}

@media (max-width: 1160px) {
	.header-overlay {
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		height: 100vh;
		width: 100%;
		transition: .5s;
		opacity: 0;
		visibility: hidden;
		background-color: #222;
		z-index: 9;
	}

	header.open .header-overlay {
		opacity: 0.7;
		visibility: visible;
	}

}