.about-partners {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 70px 0 100px;
    overflow: hidden;

    .h2 {
        font-size: 40px;
        text-align: center;
    }
}

.aboutPartnersSwiper {
    width: 100%;
}

.about-partners-swiper-slide {
    width: 292px;
    height: 140px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border: 1px solid #E5E5E5;
    min-height: 140px;
    cursor: pointer;
    position: relative;

    &:hover {
        border: none;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 10px;
            padding: 1px;
            background: linear-gradient(261.08deg, #03B0B6 18.88%, #B9DE35 127.89%);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
        }
    }

    img {
        width: 100%;
        max-width: 100px;
        object-fit: contain;
        object-position: center;
    }
}

@media (max-width: 500px) {
    .about-partners {
        gap: 41px;
        padding: 70px 0 50px;

        .h2 {
            font-size: 30px;
            padding: 0 var(--def-padding);
        }
    }
    .about-partners-swiper-slide {
        width: 166px;
        height: 80px;
        border-radius: 4.57px;
        min-height: 80px;

        img {
            max-width: 60px;
        }
    }

}