.about-vacancies-section {
    background-color: #F2F7FA;
}

.about-vacancies {
    padding: 80px 0 60px;

    .h2 {
        font-size: 40px;
        margin-bottom: 36px;
    }
}

.about-vacancies-flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.about-vacancies-left {
    width: 100%;
    max-width: 897px;
}

.about-vacancies-flex-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-vacancies-flex-column-item {
    border-radius: 12px;
    background-color: #FFF;
    padding: 24px 20px;

    &.active {
        padding-bottom: 40px;
    }
}

.about-vacancies-flex-column-item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    &.active {
        margin-bottom: 30px;
    }

    .h3 {
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
    }

    svg {
        max-width: 20px;
        max-height: 20px;
        min-height: 20px;
        min-width: 20px;
    }
}

.about-vacancies-flex-column-item-bottom {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease !important;
    transform: translateY(30px);
    margin-left: 40px;
    margin-right: 76px;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .default {
        margin: 0;
        gap: 16px;

        ul {
            gap: 16px;
        }

        *:not(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, h1 b, h2 b, h3 b, h4 b, h5 b, h6 b, .h1 b, .h2 b, .h3 b, .h4 b, .h5 b, .h6 b) {
            font-size: 14px;
        }
    }

    .button {
        margin-top: 20px;
        max-width: 224px;
        height: 50px;
    }
}

.about-vacancies-right {
    max-width: 390px;
    width: 100%;

}

.about-vacancies-right-info {
    background-color: #FFF;
    border-radius: 12px;
    padding: 30px;

    .h3 {
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 150%;
        letter-spacing: 0%;
        margin-bottom: 40px;
    }

    .about-vacancies-right-info-list-item {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        &:last-child {
            margin-bottom: 0;
        }

        .h6 {
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            leading-trim: NONE;
            line-height: 150%;
            letter-spacing: 0%;
            color: #676A83;
        }

        .about-vacancies-right-info-text {
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            leading-trim: NONE;
            line-height: 150%;
            letter-spacing: 0%;
        }
    }
}

@media (max-width: 970px) {
    .about-vacancies-flex {
        flex-direction: column;
    }

    .about-vacancies-left,
    .about-vacancies-right {
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .about-vacancies {
        padding: 60px 0 0;

        .h2 {
            font-size: 30px;
            margin-bottom: 30px;
        }
    }

    .about-vacancies-flex-column-item {
        padding: 24px 16px;

        &.active {
            padding-bottom: 24px;
        }
    }

    .about-vacancies-flex-column-item-top {
        gap: 16px;

        &.active {
            margin-bottom: 16px;
        }

        .h3 {
            font-size: 16px;
        }
    }

    .about-vacancies-flex-column-item-bottom {
        transform: translateY(16px);
        margin-left: 0;
        margin-right: 0;

        &.active {
            transform: translateY(0);
        }

        h1,
        .h1,
        h2,
        .h2,
        h3,
        .h3,
        h4,
        .h4,
        h5,
        .h5,
        h6,
        .h6,
        h1 b,
        h2 b,
        h3 b,
        h4 b,
        h5 b,
        h6 b,
        .h1 b,
        .h2 b,
        .h3 b,
        .h4 b,
        .h5 b,
        .h6 b {
            font-size: 14px;
        }

        .button {
            max-width: none;
        }
    }

    .about-vacancies-right-info {
        padding: 20px;

        .h3 {
            margin-bottom: 30px;
        }

        .about-vacancies-right-info-list-item {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}