.blog-detail-banner {
    max-width: 900px;
    padding: 40px 0;

    .h1 {
        margin-bottom: 32px;
    }
}

.blog-detail-back-link {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 16px;
    width: fit-content;
    height: 40px;
    position: relative;
    margin-bottom: 20px;

    svg {
        max-width: 24px;
        max-height: 24px;
        min-height: 24px;
        min-width: 24px;
    }

    p {
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 140%;
        letter-spacing: 0%;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 8px;
        padding: 1px;
        background: linear-gradient(261.08deg, #03B0B6 18.88%, #B9DE35 127.89%);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
    }
}

.blog-detail-banner-top-flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.blog-detail-banner-tags-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.blog-detail-banner-tag {
    background-color: #F2F7FA;
    border-radius: 999px;
    padding: 10px 12px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.blog-detail-banner-date {
    color: #50576B;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: end;
}

.blog-detail-banner-img {
    display: flex;
    flex-direction: column;
    gap: 8px;

    img {
        width: 100%;
        aspect-ratio: 894/462;
        border-radius: 16px;
        object-fit: cover;
        object-position: center;
    }

    .img-name {
        display: flex;
        gap: 8px;
        align-items: center;

        svg {
            max-width: 16px;
            max-height: 16px;
            min-height: 16px;
            min-width: 16px;
        }

        p {
            font-weight: 400;
            font-style: Regular;
            font-size: 14px;
            color: #50576B;
        }
    }
}

@media (max-width: 500px) {
    .blog-detail-banner {
        .h1 {
            font-size: 22px;
        }
    }

    .blog-detail-banner-top-flex {
        flex-direction: column;
    }

    .blog-detail-banner-date {
        text-align: start;
    }
}