.laborat-detail-text {
    padding: 80px 0 60px;

    .h2 {
        margin-bottom: 32px;
    }

    .default {
        margin: 0;
    }
}

@media (max-width: 500px) {
    .laborat-detail-text {
        padding: 60px 0;
    
        .h2 {
            font-size: 32px;
        }
    }
}