.mainBannerSection {
    width: 100%;

}

.main-banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    min-height: 550px;
    display: flex;
    align-items: center;
}

.main-banner-container {
    padding: 138px var(--def-padding) 170px;
    max-width: calc(var(--def-width) + var(--def-padding) + var(--def-padding));
}

.main-banner-help-cont {
    width: 100%;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .h2 {
        font-weight: 500;
        font-style: Medium;
        font-size: 56px;
        leading-trim: NONE;
        line-height: 110.00000000000001%;
        letter-spacing: -2%;
    }

    .default {
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 130%;
        letter-spacing: 0%;
        color: #50576B;

        * {
            font-weight: 400;
            font-style: Regular;
            font-size: 20px;
            leading-trim: NONE;
            line-height: 130%;
            letter-spacing: 0%;
            color: #50576B;
        }
    }
}

@media (max-width: 970px) {
    .main-banner-help-cont {
        max-width: 100%;

        .h2 {
            font-size: 40px;
        }
    }
}

@media (max-width: 500px) {
    .main-banner {
        min-height: 596px;
        align-items: start;
    }

    .main-banner-container {
        padding: 80px var(--def-padding);
    }

    .main-banner-help-cont {
        .h2 {
            font-size: 32px;
        }
    }
}